@font-face
{
    font-family: Avengers;
    src: url(../font/avengersfont.ttf);
}

html
{
    font-family: Avengers;
    color: blue;
    background-image: url("../img/avengers_bg.png");
    background-repeat: no-repeat;
    min-height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;

    header
    {
        text-align: center;
        font-size: 60px;
        text-shadow: 
            // 1px 1px 1px rgb(255, 208, 0),
            0 0 1em rgb(255, 208, 0),
            0 0 1em rgb(255, 208, 0);
    }

    #galeria
    {
        max-width: 100vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        figure
        {
            margin: 1vw;
            width: 30%;
            border-radius: 15px;
            box-shadow: 
                0 -0.5em 0.5em rgb(255, 208, 0),
                0 0 0.5em rgb(255, 208, 0),
                0 0 1.5em blue,
                0 0 1.5em blue;
            background-color: black;

            display: flex;
            flex-direction: column;
            justify-content: center;

            .imatge
            {
                height: auto;
                width: 90%;

                display: block;
                margin-left: auto;
                margin-right: auto;
                
            }

            // Estils dels noms i numeros
            position: relative;
            text-shadow: 0 1px 0px #378ab4, 1px 0 0px #5dabcd, 1px 2px 1px #378ab4, 2px 1px 1px #5dabcd, 2px 3px 2px #378ab4, 3px 2px 2px #5dabcd, 3px 4px 2px #378ab4, 4px 3px 3px #5dabcd, 4px 5px 3px #378ab4, 5px 4px 2px #5dabcd, 5px 6px 2px #378ab4, 6px 5px 2px #5dabcd, 6px 7px 1px #378ab4, 7px 6px 1px #5dabcd, 7px 8px 0px #378ab4, 8px 7px 0px #5dabcd, 8px 7px 0px rgba(236,255,0,0);
            color: #1e21bc;

            span
            {
                position: absolute;
                bottom: 5vw;
                left: 2.5vw;
                // font-size: 80px;
                font-size: 5vw;
            }

            .nom
            {
                bottom: 4vw;
                left: 5vw;
                // font-size: 40px;
                font-size: 2.5vw;
            }
        }
    }
}

// Mq per fer que la galeria es mantingui a 70wv a partir de 1600px
@media (min-width: 1600px)
{
    html > body > #galeria
    {
        max-width: 70vw;
    }
}