@font-face {
  font-family: Avengers;
  src: url(../font/avengersfont.ttf);
}
html {
  font-family: Avengers;
  color: #3b00fd;
  background-image: url("../img/avengers_bg.png");
  background-repeat: no-repeat;
  min-height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
}
html header {
  text-align: center;
  font-size: 60px;
  transition: font-size 1s ease;
  text-shadow: 0 0 1em #ffd000, 0 0 1em #ffd000;
}
html #galeria {
  max-width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  transition: max-width 1s ease;
}
html #galeria figure {
  margin: 1vw;
  margin-bottom: 2vw;
  width: 30%;
  transition: width 1s ease;
  border-radius: 15px;
  box-shadow: 0 -0.5em 0.5em #ffd000, 0 0 0.5em #ffd000, 0 0 1.5em blue, 0 0 1.5em blue;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  text-shadow: 0 1px 0px #fbbb09, 1px 0 0px #cfc63f, 1px 2px 1px #fbbb09, 2px 1px 1px #cfc63f, 2px 3px 2px #fbbb09, 3px 2px 2px #cfc63f, 3px 4px 2px #fbbb09, 4px 3px 3px #cfc63f, 4px 5px 3px #fbbb09, 5px 4px 2px #cfc63f, 5px 6px 2px #fbbb09, 6px 5px 2px #cfc63f, 6px 7px 1px #fbbb09, 7px 6px 1px #cfc63f, 7px 8px 0px #fbbb09, 8px 7px 0px #cfc63f, 8px 7px 0px rgba(236, 255, 0, 0);
  color: #3b00fd;
}
html #galeria figure .imatge {
  height: auto;
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  transition: width 1s ease;
}
html #galeria figure span {
  position: absolute;
  bottom: 5vw;
  left: 1vw;
  font-size: 5vw;
  transition: font-size 1s ease;
}
html #galeria figure .nom {
  bottom: 4vw;
  left: 5.25vw;
  font-size: 2.5vw;
  transition: font-size 1s ease;
}
@media (min-width: 1600px) {
  html > body > #galeria {
    max-width: 70vw;
  }
  html > body > #galeria figure span {
    font-size: 80px;
  }
  html > body > #galeria figure .nom {
    font-size: 40px;
  }
}
@media (min-width: 700px) and (max-width: 1300px) {
  html > body > #galeria figure {
    width: 45%;
    text-shadow: 2px 2px 0 #fbbb09, 2px -2px 0 #fbbb09, -2px 2px 0 #fbbb09, -2px -2px 0 #fbbb09, 2px 0px 0 #fbbb09, 0px 2px 0 #fbbb09, -2px 0px 0 #fbbb09, 0px -2px 0 #fbbb09, 2px 2px 2px rgba(206, 89, 55, 0);
  }
  html > body > #galeria figure .imatge {
    width: 20%;
    margin-right: 6vw;
    margin-top: 2%;
    margin-bottom: 2%;
  }
  html > body > #galeria figure span {
    bottom: 7vw;
    left: auto;
    right: 22vw;
    font-size: 2.5vw;
  }
  html > body > #galeria figure .nom {
    bottom: 4vw;
    left: auto;
    right: 22vw;
    font-size: 3vw;
  }
}
@media (max-width: 700px) {
  html header {
    font-size: 40px;
  }
  html body > #galeria figure {
    width: 100%;
    text-shadow: 2px 2px 0 #fbbb09, 2px -2px 0 #fbbb09, -2px 2px 0 #fbbb09, -2px -2px 0 #fbbb09, 2px 0px 0 #fbbb09, 0px 2px 0 #fbbb09, -2px 0px 0 #fbbb09, 0px -2px 0 #fbbb09, 2px 2px 2px rgba(206, 89, 55, 0);
  }
  html body > #galeria figure .imatge {
    width: 40%;
    margin-top: 1%;
    margin-bottom: 1%;
    position: relative;
    z-index: 1;
  }
  html body > #galeria figure span {
    bottom: 5vw;
    left: 20vw;
    font-size: 8vw;
  }
  html body > #galeria figure .nom {
    bottom: 3vw;
    left: auto;
    right: 10vw;
    font-size: 8vw;
  }
}
