@font-face {
  font-family: Avengers;
  src: url(../font/avengersfont.ttf);
}
html {
  font-family: Avengers;
  font-size: 40px;
  color: purple;
  background-image: url("../img/avengers_bg.png");
  background-repeat: no-repeat;
  min-height: 100vh;
  background-size: cover;
}
html #galeria {
  display: flex;
  flex-wrap: wrap;
}
